<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image">
              <img
                src="https://apps.odoo.com/apps/icon_image?module_id=32428"
                height="100%"
                width="100%"
              />
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form
                  class="user"
                  [formGroup]="insertUserForm"
                  (ngSubmit)="onSubmit(insertUserForm.value)"
                >
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control form-control-user"
                      aria-describedby="emailHelp"
                      placeholder="Enter Email Address..."
                      formControlName="user_id"
                    />
                    <label
                      class="text-danger"
                      *ngIf="
                        insertUserForm.get('user_id').hasError('email') &&
                        !insertUserForm.get('user_id').hasError('required')
                      "
                    >
                      Please enter a valid email address
                    </label>
                    <label
                      class="text-danger"
                      *ngIf="
                        insertUserForm.get('user_id').hasError('required') &&
                        insertUserForm.get('user_id').touched
                      "
                    >
                      Email is <strong>required</strong>
                    </label>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      placeholder="Enter Name here..."
                      formControlName="user_name"
                    />
                    <label
                      class="text-danger"
                      *ngIf="
                        insertUserForm.get('user_name').hasError('required') &&
                        insertUserForm.get('user_name').touched
                      "
                    >
                      Name is <strong>required</strong>
                    </label>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      placeholder="Enter Mobile Number here..."
                      formControlName="user_mobile"
                    />
                    <label
                      class="text-danger"
                      *ngIf="
                        insertUserForm
                          .get('user_mobile')
                          .hasError('required') &&
                        insertUserForm.get('user_mobile').touched
                      "
                    >
                      Mobile number is <strong>required</strong>
                    </label>
                  </div>

                  <button
                    class="btn btn-primary btn-user btn-block"
                    type="submit"
                    [disabled]="insertUserForm.invalid"
                  >
                    Insert
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
